<!DOCTYPE html>
<html>
    <body>
            <main id="studentContainer">
    {% for daytime in daytime %}
    <div class="card">
        <div class="info">
            <p><strong>{{ daytime.day }}</strong> at <strong> {{ daytime.time }}</strong></p>
        </div>
    </div>
    {% endfor %} 


        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-messages">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}


        <form action="http://localhost:5000/addtime/submit" method="post">
            <label for="day">Day</label>
            <select name="day" id="day" required>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
            <label for="time">Select a Time</label>
            <input type="time" name="time" id="time" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
