<!DOCTYPE html>
<html>
    <title>MMU TutorFinder Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <body>
    <div class="login-container">
        <div class="login-title">Sign in</div>
        <form class="login-form" action="/login" method="post">
            <input type="text" name="username" class="form-input" placeholder="Username" required>
            <input type="password" name="password" class="form-input" placeholder="Password" required>
            
            
            <button type="submit" class="login-btn">Login</button>
            
        
        </form>
        
        <div class="switch-link">
            Don't have an account? <a href="/register">Create an account</a>
        </div>
    </div>
</body>
</html>